body {
    margin: 0;
    padding: 0;
  }
  
  .parallax-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
  }
  
  .section-1 {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg); /* Replace 'image1.jpg' with your desired image */
    background-size: cover;
    background-attachment: fixed;
  }
  
  .section-2 {
    background-image: url(https://media.istockphoto.com/id/1471378406/photo/the-scene-of-the-wellington-point-recreation-reserve-in-the-sunset-in-brisbane.jpg?s=2048x2048&w=is&k=20&c=BAr_FHzwa_AWpXXIaRukQgYZhVeGG0TrhVaolsiM7qk=);/* Replace 'image2.jpg' with your desired image */
    background-size: cover;
    background-attachment: fixed;
  }
  
  /* Add more sections and adjust their styles as needed */
  