body{ 
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: gray;
} 
button{ 
    padding: 20px;  
    font-size: 20px; 
    background-color: gray; 
    border-radius: 20px;

}